[Unit]
Description=Rust testbench
Documentation=https://github.com/kristof-mattei/rust-testbench
; Start after the network has been configured
After=network-online.target
Wants=network-online.target

[Service]
Type=exec
; Use /etc/default/rust-testbench for defaults, if it exists
EnvironmentFile=-/etc/default/rust-testbench
ExecStart=/usr/bin/rust-testbench $RUST_TESTBENCH_PARAMS
DynamicUser=yes
User=rust-testbench
Group=rust-testbench
RuntimeDirectory=rust-testbench

[Install]
WantedBy=multi-user.target
